<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wcf.dao.GuruMapper">
    <select id="findAll" resultType="com.wcf.entity.Guru">
        select id,name,img_path,status
        from t_guru
    </select>
</mapper>